---
---

@import "minima";

/* Тёмная тема */
body {
  background-color: #0d1117;
  color: #c9d1d9;
}

a {
  color: #79c0ff;
  text-decoration: none;
}

a:visited {
  color: #a5d6ff;
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: underline;
}

.site-header,
.site-footer {
  background-color: #010409;
  border-color: #30363d;
}

.post-title,
.page-heading {
  color: #e6edf3;
}

pre,
code {
  background-color: #161b22;
  color: #e6edf3;
}

li a {
  color: #79c0ff;
}

li a:hover {
  color: #ffffff;
}

code a {
  color: #ffa657;
}
