---
---

@import "minima";

/* Тёмная тема */
body {
  background-color: #0d1117;
  color: #c9d1d9;
}

a {
  color: #58a6ff;
}

.site-header,
.site-footer {
  background-color: #010409;
  border-color: #30363d;
}

.post-title,
.page-heading {
  color: #e6edf3;
}

pre,
code {
  background-color: #161b22;
  color: #e6edf3;
}

body {
  border: 10px solid red !important;
}
